* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* nav bar start  */

.div-log-1 {
  margin-left: 23px;
  background: #c9a4ff52;
  padding: 0px;
  width: 128px;
  text-align: center;
}
.div-log-1 H1 {
  display: inline;
  font-size: 46px;
  margin: 0px;
  padding: 0px;
  color: white;
}
.div-log-1 span {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  color: white;
  font-size: 27px;
}

.nav_1 {
  background: transparent;
}
.nav-1-div-1 {
  display: flex;
  padding: 4px 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 111;
  border-bottom: 1px solid #ffffff52;
}
.nav-1-div-2 img {
  width: 85px;
  height: 50px;
  margin: 5px 0px 7px 27px;
  filter: brightness(26);
}
.nav-1-div-3 ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-1-div-3 ul li {
  margin: 0px 27px 0px 25px;
}

.nav-1-div-3 ul li a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}
.span-1-nav-1 {
}

.nav-1-div-3 ul li a:hover {
  text-shadow: 0px -1px 20px #ff0000;
  text-decoration: underline;
}

/* Home page background Image     */

.sec-1-div-1 {
  width: 100%;
  height: 100vh;
}
.sec-1-div-1::before {
  width: 100%;
  content: " ";
  background-image: url(/Image_index/programming-background-with-html.jpg);
  position: absolute;

  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.sec-1-div-1::after {
  content: " ";
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  opacity: 0.5;
}



/* Home Card CSS */
.sec-2 {
  position: relative;
  z-index: 222;
  bottom: 103px;
}

.div-1-sec-2 {
  display: flex;

  justify-content: space-around;
}

.div-1-next-sec-2 {
  display: flex;

  justify-content: space-around;
  position: relative;
  z-index: 222;
  bottom: 103px;
}

.div-1-1-sec-1 {
  width: 233px;
  height: 320px;

  margin: 12px;
  box-shadow: 3px -1px 15px 5px black;
  cursor: pointer;
}
.div-111-sec-1 {
  border: 1px solid;
  width: 89px;
  font-family: system-ui;
  padding: 7px;

  background: #645b8ff7;
  color: white;
}
.div-111-sec-1::after {
  content: " ";
  background-image: url(/Image_index/6042470.jpg);
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 205px;
  height: 168px;
  z-index: -1;
}
.div-11-third-sec-1 {
  border: 1px solid;
  width: 89px;
  font-family: system-ui;
  padding: 7px;

  background: #645b8ff7;
  color: white;
}
.div-11-third-sec-1::after {
  content: " ";
  background-image: url(/Image_index/hand-coding-concept-illustration/6463428.jpg);
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 205px;
  height: 149px;
  z-index: -1;
}
.div-1second-sec-1 {
  border: 1px solid;
  width: 89px;
  font-family: system-ui;
  padding: 7px;
  background: #645b8ff7;
  color: white;
}
.div-1second-sec-1::after {
  content: " ";
  background-image: url(/Image_index/pair-programming-concept-illustration/4548450.jpg);
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 205px;
  height: 149px;
  z-index: -1;
}

.div-1-fouth-sec-1 {
  border: 1px solid;
  width: 89px;
  font-family: system-ui;
  padding: 7px;

  background: #645b8ff7;
  color: white;
}
.div-1-fouth-sec-1::after {
  content: " ";
  background-image: url(/Image_index/fill-out-concept-illustration/5180200.jpg);
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 205px;
  height: 149px;
  z-index: -1;
}
.sec-3 {
    display: none;
  }
  
.div-111-sec-2 {
  border: 1px solid;
  width: 89px;
  font-family: system-ui;
  padding: 7px;

  background: #645b8ff7;
  color: white;
}
.div-111-sec-2::after {
  content: " ";
  background-image: url(/Image_index/binary-code-concept-illustration/5643241.jpg);
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 205px;
  height: 149px;
  z-index: -1111;
}
.div-11-second-sec-2 {
  border: 1px solid;
  width: 122px;
  font-family: system-ui;
  padding: 7px;

  background: #645b8ff7;
  color: white;
}
.div-11-second-sec-2::after {
  content: " ";
  background-image: url(/Image_index/programmer-concept-illustration/3946714.jpg);
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 205px;
  height: 149px;
  z-index: -1111;
}

.div-11-third-sec-2 {
  border: 1px solid;
  width: 114px;
  font-family: system-ui;
  padding: 7px;

  background: #645b8ff7;
  color: white;
}

.div-11-third-sec-2::after {
  content: " ";
  background-image: url(/Image_index/programming-concept-illustration/11075021.jpg);
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 205px;
  height: 149px;
  z-index: -1111;
}

.div-2-sec-2 {
  position: relative;
  top: 148px;
  text-align: center;
}
.div-2-sec-2 button {
  width: 133px;
  height: 29px;
  background: #ffc73682;
  border: none;
  font-style: oblique;
  font-weight: bolder;
  border-left: 15px solid #686190;
}

.div-3-sec-2 {
  position: relative;
  top: 161px;
  font-size: 12px;
  text-align: center;
  padding: 6px;
}
.last-div-slider {
  text-align: center;
  position: relative;
  bottom: 72px;
}
.last-div-slider-button-first {
  border: 1px solid;
  height: 18px;
  width: 18px;
  border-radius: 36px;
  margin-right: 24px;
  background: #362d6bbd;
  color: #615a8900;
}
.last-div-slider-button_second {
  border: 1px solid black;
  height: 18px;
  width: 18px;
  border-radius: 36px;
  margin-right: 24px;
  background-color: white;
}

