* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* nav bar start  */

.head-1-profile {
    width: 21%;
    border: 0px;
    height: 237px;
    position: absolute;
    z-index: 111111111111;
    background: #fbfbfbf5;
    right: 20px;
    display: flex;
    padding-left: 13px;
    align-items: center;
    color: purple;
    box-shadow: 3px 0px 4px 0px #fff3f3;
    display: none;
    margin-top: 71px;
}

.div-1-head-profile div {
    margin: 25px 0px 20px 0px;
    font-style: italic;
}

.btn-profile {
    width: 115px;
    height: 24px;
    font-style: italic;
    border: 0px;
    border-left: 11px solid purple;
}

.h1-profile {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.div-log-1 {
    margin-left: 23px;
    background: #c9a4ff52;
    padding: 0px;
    width: 128px;
    text-align: center;
}

.div-log-1 H1 {
    display: inline;
    font-size: 46px;
    margin: 0px;
    padding: 0px;
    color: white;
}

.div-log-1 span {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color: white;
    font-size: 27px;
}

.nav_1 {
    background: transparent;
}

.nav-1-div-1 {
    display: flex;
    padding: 4px 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 111111;
    border-bottom: 1px solid #ffffff52;
}

.nav-1-div-2 img {
    width: 85px;
    height: 50px;
    margin: 5px 0px 7px 27px;
    filter: brightness(26);
}

.nav-1-div-3 ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-1-div-3 ul li {
    margin: 0px 27px 0px 25px;
}

.nav-1-div-3 ul li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.span-1-nav-1 {}

.nav-1-div-3 ul li a:hover {
    text-shadow: 0px -1px 20px #bfd33e00;
    /* text-decoration: underline; */
    color: #c9e500;
}

.span-1-nav-1 {
    position: absolute;
    font-size: 44px;
    margin: 0px;
    padding: 0px;
    right: 78px;
    color: white;
}


/* Home page background Image     */

.sec-1-div-1 {
    width: 100%;
    height: 100vh;
}

.sec-1-div-1::before {
    width: 100%;
    content: " ";
    background-image: url(./Image_index/programming-background-with-html.jpg);
    position: absolute;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sec-1-div-1::after {
    content: " ";
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}


/* Home Card CSS */

.sec-2 {
    position: relative;
    z-index: 222;
    bottom: 103px;
}

.div-1-sec-2 {
    display: flex;
    justify-content: space-around;
}

.div-1-next-sec-2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 222;
    bottom: 103px;
}

.div-1-1-sec-1 {
    width: 233px;
    height: 320px;
    margin: 12px;
    box-shadow: 1.1px 0.2px 13px 0px black;
    cursor: pointer;
}

.div-111-sec-1 {
    border: 1px solid;
    width: 89px;
    font-family: system-ui;
    padding: 7px;
    background: #645b8ff7;
    color: white;
}

.div-111-sec-1::after {
    content: " ";
    background-image: url(./Image_index/6042470.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 205px;
    height: 168px;
    z-index: -1;
}

.div-11-third-sec-1 {
    border: 1px solid;
    width: 89px;
    font-family: system-ui;
    padding: 7px;
    background: #645b8ff7;
    color: white;
}

.div-11-third-sec-1::after {
    content: " ";
    background-image: url(./Image_index/hand-coding-concept-illustration/6463428.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 205px;
    height: 149px;
    z-index: -1;
}

.div-1second-sec-1 {
    border: 1px solid;
    width: 89px;
    font-family: system-ui;
    padding: 7px;
    background: #645b8ff7;
    color: white;
}

.div-1second-sec-1::after {
    content: " ";
    background-image: url(./Image_index/pair-programming-concept-illustration/4548450.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 205px;
    height: 149px;
    z-index: -1;
}

.div-1-fouth-sec-1 {
    border: 1px solid;
    width: 89px;
    font-family: system-ui;
    padding: 7px;
    background: #645b8ff7;
    color: white;
}

.div-1-fouth-sec-1::after {
    content: " ";
    background-image: url(./Image_index/fill-out-concept-illustration/5180200.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 205px;
    height: 149px;
    z-index: -1;
}

.sec-3 {
    display: none;
}

.div-111-sec-2 {
    border: 1px solid;
    width: 89px;
    font-family: system-ui;
    padding: 7px;
    background: #645b8ff7;
    color: white;
}

.div-111-sec-2::after {
    content: " ";
    background-image: url(./Image_index/binary-code-concept-illustration/5643241.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 205px;
    height: 149px;
    z-index: -1111;
}

.div-11-second-sec-2 {
    border: 1px solid;
    width: 122px;
    font-family: system-ui;
    padding: 7px;
    background: #645b8ff7;
    color: white;
}

.div-11-second-sec-2::after {
    content: " ";
    background-image: url(./Image_index/programmer-concept-illustration/3946714.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 205px;
    height: 149px;
    z-index: -1111;
}

.div-11-third-sec-2 {
    border: 1px solid;
    width: 114px;
    font-family: system-ui;
    padding: 7px;
    background: #645b8ff7;
    color: white;
}

.div-11-third-sec-2::after {
    content: " ";
    background-image: url(./Image_index/programming-concept-illustration/11075021.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 205px;
    height: 149px;
    z-index: -1111;
}

.div-2-sec-2 {
    position: relative;
    top: 148px;
    text-align: center;
}

.div-2-sec-2 button {
    width: 133px;
    height: 29px;
    background: #ffc73682;
    border: none;
    font-style: oblique;
    font-weight: bolder;
    border-left: 15px solid #686190;
}

.div-3-sec-2 {
    position: relative;
    top: 161px;
    font-size: 12px;
    text-align: center;
    padding: 6px;
}

.sec-4-slider {
    text-align: center;
    position: relative;
    bottom: 72px;
}

.last-div-slider-button-first {
    border: 1px solid;
    height: 18px;
    width: 18px;
    border-radius: 36px;
    margin-right: 24px;
    background: #362d6bbd;
    color: #615a8900;
}

.last-div-slider-button_second {
    border: 1px solid black;
    height: 18px;
    width: 18px;
    border-radius: 36px;
    margin-right: 24px;
    background-color: white;
}


/*         */

.div-1-sec-5 {
    display: flex;
    justify-content: center;
}

.div-1-first-sec-5 {
    margin-right: 30px;
    padding-right: 30px;
    width: 423px;
}

.div-1-first-sec-5 img {
    width: 423px;
}

.div-next-first-sec-5 {
    margin-left: 30px;
    padding-left: 30px;
    width: 423px;
}

.div-next-first-sec-5 img {
    width: 423px;
}

.div-NEXT-second-sec-5 {
    width: 386px;
    padding-left: 23px;
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-NEXT-second-sec-5 h1 {
    letter-spacing: 2px;
    font-family: "Dancing Script";
}

.div-NEXT-second-sec-5 p {
    margin: 18px 0px 19px 0px;
    font-family: system-ui;
    font-style: italic;
}

.div-NEXT-second-sec-5 ul li {
    margin-top: 12px;
    font-style: italic;
}

.div-1-second-sec-5 {
    font-family: "cursive";
}

.div-1-second-sec-5 {
    width: 386px;
    padding-left: 23px;
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-1-second-sec-5 h1 {
    letter-spacing: 2px;
    font-family: "Dancing Script";
    font-size: 23px;
}

.div-1-second-sec-5 p {
    margin: 18px 0px 19px 0px;
    font-family: system-ui;
    font-style: italic;
}

.div-1-second-sec-5 ul li {
    margin-top: 12px;
    font-style: italic;
}

.div-1-second-sec-5 {
    font-family: "cursive";
}

.desgine-sec {
    position: absolute;
    top: 171%;
    right: 15%;
    z-index: -1111;
}

.desgine-sec-1 {
    width: 252px;
    height: 204px;
    /* border: 1px solid black; */
    background: #5d559d57;
    rotate: 49deg;
}

.desgine-sec-2 {
    width: 252px;
    height: 204px;
    /* border: 1px solid black; */
    background: #5d559d57;
    rotate: 145deg;
    position: absolute;
    right: 262%;
    top: 178%;
}

.foot-1 {
    background: #67628e61;
    padding: 0px 0px 29px 0px;
}

.div-1-foot {
    display: flex;
    justify-content: space-evenly;
    margin: 29px 0px 0px 0px;
    padding: 29px 0px 25px 0px;
    align-items: center;
    text-align: end;
    border-bottom: 1px solid gray;
}

.div-2-foot-1 ul {
    list-style: none;
}

.div-2-foot-1 {
    border-right: 1px solid gray;
    padding-right: 30px;
    height: 195px;
}

.div-2-foot-1 ul li {
    margin: 10px 0px 0px 0px;
    font-style: italic;
}

.div-2-foot-1 ul h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.div-3-foot-1 ul {
    list-style: none;
}

.div-3-foot-1 {
    border-right: 1px solid gray;
    padding-right: 30px;
}

.div-3-foot-1 ul li {
    margin: 10px 0px 0px 0px;
}

.div-3-foot-1 ul li a {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.div-3-foot-1 ul h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.div-4-foot-1 p {
    margin: 10px 0px 0px 0px;
    font-style: italic;
}

.div-4-foot-1 input {
    margin: 11px 0px 0px 0px;
    width: 251px;
    height: 31px;
    border-radius: 4px;
    padding: 10px;
    border: 0px;
}

.div-4-foot-1 h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.div-4-foot-1 button {
    height: 29px;
    width: 61px;
    color: black;
    border: 0px;
    border-radius: 3px;
}

.div-icon-foot-1 {
    text-align: end;
    margin: 20px 0px 0px 0px;
}

.div-icon-foot-1 i {
    color: black;
    margin-right: 15px;
}


/* Login Page Css */

#Loginform {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 11111111111;
    background: #13134e7d;
    display: none;
}

#closeLOginForm {
    display: none;
    position: absolute;
    top: 18px;
    z-index: 111111111;
    right: 38%;
}

.head-1-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-login-1-heade-1 {
    height: 96vh;
    width: 387px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 17px 1px black;
}

.div-login-1-heade-1::before {
    content: " ";
    position: absolute;
    background: url(./Image_index/aerial-view-mountain-covered-fog-beautiful-pink-sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    width: 387px;
    z-index: -1111;
}

.div-2-login-head-1::before {
    content: " ";
    position: absolute;
    background: linear-gradient(#00000024, #0000008f);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    z-index: -11;
    width: 387px;
}

.div-second-login-1 {
    display: flex;
    justify-content: center;
    height: 226px;
    align-items: center;
    border-bottom: 1px solid #ffffff45;
}

.div-second-login-1 h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color: white;
    font-size: 36px;
    border-left: 8px solid #ffffff85;
    padding: 6px 0px 0px 14px;
    /* border-bottom: 1px solid; */
    border-radius: 34px;
}

.div-third-login-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-third-login-1 h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color: white;
    font-size: 28px;
    margin: 23px 0px 7px 0px;
}

.input-login {
    width: 242px;
    height: 31px;
    border: none;
    text-align: justify;
    padding: 1px 0px 0px 10px;
    font-style: italic;
    font-family: ui-rounded;
    border-radius: 4px;
    margin: 25px 0px 23px 0px;
    /* background: #8a2be247; */
    /* color: white; */
    box-shadow: 3px 2px 7px 3px black;
}

.div-form-button-login {
    display: flex;
    justify-content: center;
}

.div-form-button-login button {
    width: 101px;
    height: 29px;
    text-align: center;
    font-style: italic;
    box-shadow: 3px 2px 7px 3px black;
}

.div-login-forgot-pass {
    display: flex;
    justify-content: space-between;
    color: wheat;
    font-size: 13px;
    margin-bottom: 16px;
}

.icon-login {
    position: relative;
    right: 25px;
    font-size: 14px;
}

.close-form-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    /* background: red; */
    color: black;
    width: 21px;
    /* text-align: center; */
    /* height: 21px; */
    font-size: 17px;
    cursor: pointer;
}

.close-form-icon:hover {
    text-shadow: 0px 1px 4px red;
}


/* Registration */

#Regiestrationform {
    display: none;
    position: absolute;
    z-index: 111111111111;
    left: 0px;
    top: 0px;
    padding-top: 11px;
    width: 100%;
    background: #13134e7d;
    height: 100vh;
}

.head-1-Regiestration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-Regiestration-1-heade-1 {
    height: 96vh;
    width: 354px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 17px 1px black;
}

.div-Regiestration-1-heade-1::before {
    content: " ";
    position: absolute;
    background: url(./Image_index/aerial-view-mountain-covered-fog-beautiful-pink-sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;
    width: 354px;
    z-index: -1111;
}

.div-2-Regiestration-head-1::before {
    content: " ";
    position: absolute;
    background: linear-gradient(#00000024, #0000008f);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    z-index: -11;
    width: 354px;
}

.div-second-Regiestration-1 {
    display: flex;
    justify-content: center;
    height: 151px;
    align-items: center;
    border-bottom: 1px solid #ffffff45;
}

.div-second-Regiestration-1 h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color: white;
    font-size: 36px;
    border-left: 8px solid #ffffff85;
    padding: 6px 0px 0px 14px;
    /* border-bottom: 1px solid; */
    border-radius: 34px;
}

.div-third-Regiestration-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-third-Regiestration-1 h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color: white;
    font-size: 28px;
    margin: 23px 0px 7px 0px;
}

.input-Regiestration {
    width: 218px;
    height: 31px;
    border: none;
    text-align: justify;
    padding: 2px 0px 0px 10px;
    font-style: italic;
    font-family: ui-rounded;
    border-radius: 4px;
    margin: 18px 13px 23px 13px;
    box-shadow: 1px 1px 5px 1px black;
}

.div-form-button-Regiestration {
    display: flex;
    justify-content: center;
}

.div-form-button-Regiestration button {
    width: 101px;
    height: 29px;
    text-align: center;
    font-style: italic;
    box-shadow: 3px 2px 7px 3px black;
}

.div-Regiestration-forgot-pass {
    display: flex;
    justify-content: space-between;
    color: wheat;
    font-size: 13px;
    margin-bottom: 16px;
}

.icon-Regiestration {
    position: relative;
    right: 25px;
    font-size: 14px;
}

.close-form-registration-icon {
    position: absolute;
    right: 37%;
    top: 17px;
    color: white;
    width: 21px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}

.close-form-icon:hover {
    text-shadow: 0px 1px 4px red;
}

.registartion-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-registration {
    width: 150px;
    height: 30px;
    font-style: italic;
    margin-top: 12px;
    font-size: 14px;
}

.error_msg {
    color: red;
    background-color: white;
    font-style: italic;
    display: none;
}

.error_msg_1 {
    color: red;
    background-color: white;
    font-style: italic;
    display: none;
}